[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=EndeavourOS log tool (Python)
Comment=Log tool to save and generate a sharable link
Exec=/usr/bin/enlog
Icon=/usr/share/endeavouros/EndeavourOS-icon.png
# StartupNotify=false
# Terminal=False
Hidden=false
X-GNOME-Autostart-enabled=true
X-KDE-autostart-after=panel
Categories=System
